<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs')  %> 
    <link rel="stylesheet" href="../public/css/curriculo.css">
    <title>Fernando / Curriculum</title>
</head>
<body>
    <%- include('./reusable/reload.ejs') %> 
    <div id="containner">
        <%- include('./reusable/langContainner.ejs') %> 
        <%- include('./reusable/header.ejs',{index:4})  %> 
        <%#- include('./reusable/scrollPage.ejs',{index:4})  %> 
        <main>
            <div id="main-containner">
                <div id="left-curriculo">
                    <div id="texts">
                        <span id="main-title">Meu Curriculo! &#x2661;</span>
                        <span id="resumo">Aqui voce pode ver o preview do meu curriculo e caso deseje tambem pode ser feito o download do mesmo!</span>
                    </div>
                    <a class="button-curriculo" href="../public/assets/pdfs/Curriculo.pdf" download="Curriculo 💜.pdf" id="download-button">Fazer Download</a>
                    <a class="button-curriculo" href="/curriculo/certificados" ><span id="certificado-button">Conferir os Certificados</span><svg id="svgCurriculo" width="22"viewBox="0 0 511.99896 511" xmlns="http://www.w3.org/2000/svg"><path d="m140.671875 371.816406c-5.980469-5.980468-15.683594-5.980468-21.667969 0l-114.515625 114.519532c-5.984375 5.980468-5.984375 15.683593 0 21.667968 2.992188 2.992188 6.914063 4.488282 10.835938 4.488282 3.917969 0 7.839843-1.496094 10.832031-4.488282l114.515625-114.515625c5.988281-5.984375 5.988281-15.6875 0-21.671875zm0 0"/><path d="m507.511719 4.988281c-2.941407-2.941406-6.929688-4.53125-11.109375-4.488281l-191.074219 3.441406c-6.148437.113282-11.632813 3.886719-13.933594 9.585938-2.300781 5.699218-.972656 12.226562 3.375 16.570312l41.25 41.25-220.6875 220.6875c-2.871093 2.875-4.488281 6.773438-4.488281 10.835938s1.613281 7.960937 4.488281 10.835937l83.457031 83.449219c2.992188 2.992188 6.914063 4.488281 10.832032 4.488281 3.921875 0 7.84375-1.496093 10.835937-4.488281l220.683594-220.683594 41.253906 41.25c4.34375 4.347656 10.871094 5.675782 16.570313 3.375 5.699218-2.300781 9.472656-7.785156 9.582031-13.933594l3.449219-191.066406c.074218-4.15625-1.542969-8.167968-4.484375-11.109375zm-28.953125 165.558594-26.582032-26.578125c-2.871093-2.875-6.769531-4.488281-10.832031-4.488281-4.066406 0-7.964843 1.613281-10.835937 4.488281l-220.6875 220.683594-61.785156-61.78125 220.6875-220.6875c2.875-2.875 4.488281-6.769532 4.488281-10.835938 0-4.0625-1.613281-7.960937-4.488281-10.832031l-26.578126-26.582031 139.125-2.503906zm0 0"/><path d="m20.898438 423.464844c3.921874 0 7.84375-1.5 10.832031-4.492188l67.214843-67.210937c5.984376-5.984375 5.984376-15.6875 0-21.671875-5.984374-5.980469-15.683593-5.980469-21.667968 0l-67.214844 67.214844c-5.984375 5.984374-5.984375 15.6875 0 21.671874 2.992188 2.988282 6.914062 4.488282 10.835938 4.488282zm0 0"/><path d="m160.734375 413.546875-67.21875 67.210937c-5.984375 5.984376-5.984375 15.6875 0 21.671876 2.992187 2.992187 6.914063 4.488281 10.835937 4.488281 3.921876 0 7.84375-1.496094 10.835938-4.488281l67.214844-67.214844c5.984375-5.984375 5.984375-15.6875 0-21.667969-5.984375-5.984375-15.6875-5.984375-21.667969 0zm0 0"/></svg> </a>
                </div>
                <div id="preview-render">
                    <img src="../public/img/Curriculo.png">
                </div>
            </div>
        </main>
    </div>
    <%- include('./reusable/scripts.ejs') %> 
</body>
</html>