<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs')  %> 
    <link rel="stylesheet" href="../public/css/work.css">
    <title>Fernando / Work</title>
</head>
<body>
    <%- include('./reusable/reload.ejs') %> 
    <div id="containner">
        <%- include('./reusable/langContainner.ejs') %> 
        <%- include('./reusable/header.ejs',{index:3}) %> 
        <%#- include('./reusable/scrollPage.ejs',{index:3}) %> 
        <main>
            <div id="main-containner">
                <div id="title-containner">
                    <h1 id="work-title"></h1>
                    <div id="subtitle-containner">
                        <span id="work-subTitle"></span>
                    </div>
                </div>
                <div id="main-row">
                    <div class="main-col">
                        <div class="text-cols">
                            <div class="aviso-containner">
                                <span class="work-aviso"></span>
                            </div>
                            <div class="text-title-cols">
                                <span class="title">SounifyMe</span>
                            </div>
                            <div class="text-description-cols">
                                <span class="descricao" id="sounifyme-descricao"></span>
                            </div>
                            <div class="footer-cols">
                                <div class="text-tecs-cols">
                                    <img title="nodejs" src="../public/assets/svgs/nodejs-icon.svg" alt="">
                                    <img title="JavaScript" src="../public/assets/svgs/logo-javascript.svg" alt="">
                                    <img title="HTML5" src="../public/assets/svgs/html-1.svg" alt="">
                                    <img title="CSS3" src="../public/assets/svgs/css-3.svg" alt="">
                                    <img title="Electron" src="../public/assets/svgs/electron-1.svg" alt="">
                                    <img title="Firebase" src="../public/assets/svgs/firebase-1.svg" alt="">
                                    <img title="Python" src="../public/assets/svgs/python-5.svg" alt="">
                                    <img title="React Native" src="../public/assets/svgs/react-2.svg" alt="">
                                </div>
                                <div class="containner-buttons-cols">
                                    <button onclick="window.open('http://sounifyme.fernandojunio.com.br/login')" class="button-cols">Deploy</button>
                                    <button onclick="window.open('https://github.com/Fernando-Santana-j/SounifyMe')" class="button-cols">Repositório</button>
                                </div>
                            </div>
                        </div>
                        <div class="containner-image-cols">
                            <img class="image-cols" src="../public/img/WhatsApp Image 2023-04-19 at 23.30.28.jpeg">
                        </div>
                    </div>
                    <div class="main-col">
                        <div class="text-cols">
                            <div class="text-title-cols">
                                <span class="title">SDKApps</span>
                            </div>
                            <div class="text-description-cols">
                                <span class="descricao" id="sdkapps-descricao"></span>
                            </div>
                            <div class="footer-cols">
                                <div class="text-tecs-cols">
                                    <img title="nodejs" src="../public/assets/svgs/nodejs-icon.svg" alt="">
                                    <img title="JavaScript" src="../public/assets/svgs/logo-javascript.svg" alt="">
                                    <img title="HTML5" src="../public/assets/svgs/html-1.svg" alt="">
                                    <img title="CSS3" src="../public/assets/svgs/css-3.svg" alt="">
                                    <img title="Firebase" src="../public/assets/svgs/firebase-1.svg" alt="">
                                    <img title="Discord Bot" src="../public/assets/svgs/discordbot.svg" alt="">
                                </div>
                                <div class="containner-buttons-cols">
                                    <button onclick="window.open('https://skapps.com.br/')" class="button-cols">Deploy</button>
                                    <button disabled class="button-cols">Repositório</button>
                                </div>
                            </div>
                        </div>
                        <div class="containner-image-cols">
                            <img class="image-cols" src="../public/img/sdkapps.png">
                            
                        </div>
                    </div>
                    <div class="main-col">
                        <div class="text-cols">
                            <div class="text-title-cols">
                                <span class="title">InfoEduc Company</span>
                            </div>
                            <div class="text-description-cols">
                                <span class="descricao" id="infoeduc-descricao"></span>
                            </div>
                            <div class="footer-cols">
                                <div class="text-tecs-cols">
                                    <img title="nodejs" src="../public/assets/svgs/nodejs-icon.svg" alt="">
                                    <img title="JavaScript" src="../public/assets/svgs/logo-javascript.svg" alt="">
                                    <img title="HTML5" src="../public/assets/svgs/html-1.svg" alt="">
                                    <img title="CSS3" src="../public/assets/svgs/css-3.svg" alt="">
                                </div>
                                <div class="containner-buttons-cols">
                                    <button onclick="window.open('https://plataforma.infoeduc.com.br')" class="button-cols">Deploy</button>
                                    <button disabled class="button-cols">Repositório</button>
                                </div>
                            </div>
                        </div>
                        <div class="containner-image-cols">
                            <img class="image-cols" src="../public/img/infoeduc.png">
                        </div>
                    </div>
                    <div class="main-col">
                        <div class="text-cols">
                            <div class="aviso-containner">
                                <span class="work-aviso"></span>
                            </div>
                            <div class="text-title-cols">
                                <span class="title">VirtualDeck</span>
                            </div>
                            <div class="text-description-cols">
                                <span class="descricao" id="virtualdeck-descricao"></span>
                            </div>
                            <div class="footer-cols">
                                <div class="text-tecs-cols">
                                    <img title="nodejs" src="../public/assets/svgs/nodejs-icon.svg" alt="">
                                    <img title="JavaScript" src="../public/assets/svgs/logo-javascript.svg" alt="">
                                    <img title="HTML5" src="../public/assets/svgs/html-1.svg" alt="">
                                    <img title="CSS3" src="../public/assets/svgs/css-3.svg" alt="">
                                    <img title="Electron" src="../public/assets/svgs/electron-1.svg" alt="">
                                    <img title="Firebase" src="../public/assets/svgs/firebase-1.svg" alt="">
                                </div>
                                <div class="containner-buttons-cols">
                                    <button onclick="window.open('http://virtualdeck.fernandojunio.com.br')" class="button-cols">Deploy</button>
                                    <button onclick="window.open('https://github.com/Fernando-Santana-j/Virtual-Deck-WEB')" class="button-cols">Repositório</button>
                                </div>
                            </div>
                        </div>
                        <div class="containner-image-cols">
                            <img class="image-cols" src="../public/img/WhatsApp Image 2023-12-29 at 19.55.39.jpeg">
                        </div>
                    </div>
                    <div class="main-col">
                        <div class="text-cols">
                            <div class="text-title-cols">
                                <span class="title">DevTools</span>
                            </div>
                            <div class="text-description-cols">
                                <span class="descricao" id="devtools-descricao"></span>
                            </div>
                            <div class="footer-cols">
                                <div class="text-tecs-cols">
                                    <img title="Electron" src="../public/assets/svgs/electron-1.svg" alt="">
                                    <img title="JavaScript" src="../public/assets/svgs/logo-javascript.svg" alt="">
                                    <img title="HTML5" src="../public/assets/svgs/html-1.svg" alt="">
                                    <img title="CSS3" src="../public/assets/svgs/css-3.svg" alt="">
                                </div>
                                <div class="containner-buttons-cols">
                                    <button disabled class="button-cols">Deploy</button>
                                    <button onclick="window.open('https://github.com/Fernando-Santana-j/DevTools')" class="button-cols">Repositório</button>
                                </div>
                            </div>
                        </div>
                        <div class="containner-image-cols">
                            <img class="image-cols" src="../public/img/WhatsApp Image 2023-04-19 at 23.41.51.jpeg">
                        </div>
                    </div>
                    <div class="main-col">
                        <div class="text-cols">
                            <div class="text-title-cols">
                                <span class="title">Meu Portifólio</span>
                            </div>
                            <div class="text-description-cols">
                                <span class="descricao" id="portifolio-descricao"></span>
                            </div>
                            <div class="footer-cols">
                                <div class="text-tecs-cols">
                                    <img title="nodejs" src="../public/assets/svgs/nodejs-icon.svg" alt="">
                                    <img title="JavaScript" src="../public/assets/svgs/logo-javascript.svg" alt="">
                                    <img title="HTML5" src="../public/assets/svgs/html-1.svg" alt="">
                                    <img title="CSS3" src="../public/assets/svgs/css-3.svg" alt="">
                                </div>
                                <div class="containner-buttons-cols">
                                    <button onclick="window.open('https://fernandojunio.com.br')" class="button-cols">Deploy</button>
                                    <button onclick="window.open('https://github.com/Fernando-Santana-j/portifolio')" class="button-cols">Repositório</button>
                                </div>
                            </div>
                        </div>
                        <div class="containner-image-cols">
                            <img class="image-cols" src="../public/img/WhatsApp Image 2023-04-20 at 00.00.39.jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <%- include('./reusable/scripts.ejs') %> 
</body>
</html>